**/__pycache__
**/node_modules
**/artifacts
**/.DS_Store
**/.vscode
**/orbitdb
/frontend/src/assets/images/after.png
/frontend/src/assets/images/before.png
/backend/config_local.ini
/backend/config.json
/backend/data.json
/backend/host.json
/backend/output.json
/kovan/keeper-contracts
/kovan/address
/kovan/keystore.json