<md-toolbar>
    <div fxFlex fxLayout="row">
        <a href="https://www.outlierventures.io"><div style="width: 100%" fxFlex fxLayoutAlign="start center" class="cursor-pointer" routerLink="/">
            <img [src]="logoUrl" height="20">
            <a href="https://www.outlierventures.io" class="nav-bar__title">{{title}}</a>
        </div></a>
        <div fxFlex *ngIf="!hasSideNav">
            <nav fxLayout="row" fxLayoutAlign="start center" fxHide fxShow.gt-sm>
                <a *ngFor="let item of menuItems" [routerLink]="item.route"
                   routerLinkActive="navigation-item--active"
                   class="navigation-item">H2O</a>
            </nav>
        </div>
        <div fxFlex fxLayoutAlign="end center">
            <button fxShow fxHide.gt-sm md-icon-button [mdMenuTriggerFor]="menu">
                <md-icon class="md-18">menu</md-icon>
            </button>
        </div>
    </div>
</md-toolbar>

<md-menu #menu="mdMenu">
    <button *ngFor="let item of menuItems" md-menu-item
            [routerLink]="item.route"
            routerLinkActive="navigation-item-menu--active">
        <span>{{item.name}}</span>
    </button>
</md-menu>
