<div fxLayoutAlign="center center" fxLayout="column">
    <h1>Clustering in Nautilina with OrbitDB</h1>

    <div class="home__training">
        <md-card fxLayoutAlign="center center" fxLayout="column">
            <h4>Get data from OrbitDB</h4>
            <md-input-container>
                <input
                    mdInput
                    name="OrbitDB address"
                    placeholder="OrbitDB address"
                    [(ngModel)]="OrbitParams.address">
            </md-input-container>
            <div id="replicate">
              <button md-raised-button (click)="getOrbit()">
                  Replicate database
              </button>
            </div>
            <img src="../../assets/images/before.png" alt="" style="width: 80%">
        </md-card>
        <br />
        <md-card fxLayoutAlign="center center" fxLayout="column">
            <h4>Set number of clusters</h4>
            <md-input-container>
                <input
                    mdInput
                    name="Number of clusters"
                    placeholder="Number of clusters"
                    [(ngModel)]="MLParams.C">
            </md-input-container>
            <button md-raised-button (click)="trainModel()">
                Run clustering
            </button>
            <img src="../../assets/images/after.png" alt="" style="width: 80%">
        </md-card>
        <br />
        <md-card id="form" fxLayoutAlign="center center" fxLayout="column">
            <h4>Publish result to Ocean Protocol</h4>
            <br />
            <md-input-container>
                <input
                    mdInput
                    name="Name"
                    placeholder="Name"
                    [(ngModel)]="OceanParams.name">
            </md-input-container>
            <md-input-container>
                <input
                    mdInput
                    name="Description"
                    placeholder="Description"
                    [(ngModel)]="OceanParams.description">
            </md-input-container>
            <md-input-container>
                <input
                    mdInput
                    name="Price"
                    placeholder="Price"
                    [(ngModel)]="OceanParams.price">
            </md-input-container>
            <md-input-container>
                <input
                    mdInput
                    name="Author"
                    placeholder="Author"
                    [(ngModel)]="OceanParams.author">
            </md-input-container>
            <button md-raised-button (click)="publishAsset()">
                Publish
            </button>
        </md-card>
    </div>
</div>
